h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(239, 10, 10);
    font-size: 4rem;
    font-weight: 600;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 3px solid rgb(217, 21, 21);
   padding: 3%;
  color: rgb(255, 255, 255);
}

::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
    opacity: 90%;
}